version: "3.8"

services:
  backend:
    build:
      context: ./back-end
      dockerfile: Dockerfile.prod
    ports:
      - "${BACKEND_PORT:-8000}:80"
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_URL=http://internal-BackendALB-1745765125.ap-southeast-2.elb.amazonaws.com
    volumes:
      - ./back-end/.env.production:/var/www/.env      # Mount production env
      - ./back-end/storage:/var/www/storage
      - ./back-end/bootstrap/cache:/var/www/bootstrap/cache
    restart: unless-stopped
    networks:
      - app-network

  frontend:
    build:
      context: ./front-end
      dockerfile: Dockerfile.prod
      args:
        - API_URL=${API_URL:-http://internal-BackendALB-1745765125.ap-southeast-2.elb.amazonaws.com/api}
    ports:
      - "${FRONTEND_PORT:-80}:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
